.DS_Store
node_modules
bower_components
c.js
crypto.js

gource.mp4

start.bat

newrelic_agent.log

gource1.mp4

deploy.bat
deploy2.bat

setup/log/access.log

npm-debug.log

*.log

public/commands.html
