<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Chips, a Discord bot written in javascript.">
        <meta property="og:description" content="Chips, a Discord bot written in javascript."/>
        <meta name="author" content="WillyZ">
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://chipsbot.tk:8080"/>
        <meta property="og:title" content="Chips - A Discord Bot!"/>
        
        <link rel="icon" type="image/png"
          href="https://cdn.discordapp.com/avatars/296855425255473154/753c765c7b7c99cb5f6ddaeb65afbc28.jpg?size=1024"/>

        <title>Chips - A Discord Bot!</title>

        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- Theme CSS -->
        <link href="chipsindex/css/grayscale.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-code"></i> <span class="light">Chips</span> Discord Bot
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#invite">Invite me!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                      <br />
                      <br />
                        <div class="col-md-8 col-md-offset-2">
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Chips</h2>
                    <p>Chips is a Discord bot created by a team of five developers!</p>
                    <p>As the bot is still in heavy development, but we have lots of plans for the future.</p>
                    <p>We just under 75 thousand users in over 160 servers!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#invite" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </section>

        <!-- Invite Section -->
        <section id="invite" class="content-section text-center">
            <div class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Invite Chips</h2>
                        <p>You can invite chips to your server and play around with it yourself!</p>
                        <a href="https://discordapp.com/oauth2/authorize?client_id=296855425255473154&scope=bot&permissions=2146958591" class="btn btn-default btn-lg">Invite Chips!</a>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Our Devs!</h2>
                    <p>Feel free to join our support Discord to give report problems or suggestions!<br />
                    If you're feeling extra special and want to help keep Chips up and running please let us know!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://discord.gg/jj5FzF7" class="btn btn-default btn-lg"><i class="fa fa-ticket fa-fw"></i> <span class="network-name">Support Server Invite Link</span></a>
                        </li>
                        <li>
                            <a href="https://paypal.me/wzhouwzhou" class="btn btn-default btn-lg"><i class="fa fa-cc-paypal fa-fw"></i> <span class="network-name">Help us keep our bot up!</span></span></a>
                        </li>
                        <li>
                            <a href="" class="btn btn-default btn-lg"><i class="fa fa-list fa-fw"></i> <span class="network-name">Features List! (Coming soon)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; WillyZ/Chipsbot 2017</p><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="btn btn-default btn-lg"><span class="network-name">License <i class="fa fa-copyright fa-fw"></i> (CC-BY-NC-ND-4.0)</span></a>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="vendor/jquery/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="chipsindex/js/grayscale.min.js"></script>

    </body>

  </html>
