<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Chips, a Discord bot written mainly in javascript.">
        <meta property="og:description" content="Chips, a Discord bot written mainly in javascript." />
        <meta name="author" content="William Zhou">
        <meta name="application-name" content="ChipsDiscordBot">
        <meta name="keywords" content="Chips,Discord,Bot,JavaScript,William,Zhou">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://chipsbot.me/" />
        <meta property="og:title" content="Chips - A Discord Bot!" />
        <meta property="og:image" content="https://images-ext-2.discordapp.net/external/rbjxSCMpe-j3nFxUy9SCXQlm4gz4RZYkhsuV5VK1QW4/https/cdn.discordapp.com/attachments/307625096078426123/314201502669471744/Chips.jpg?width=400&height=225"/>

        <link rel="icon" type="image/png"
          href="https://cdn.discordapp.com/attachments/325566257493573632/369397795137781761/chips_v2.png" />

        <title>Chips - A Discord Bot!</title>

        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- Theme CSS -->
        <link href="chipsindex/css/grayscale.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-code"></i> <span class="light">Chips</span> Discord Bot
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#invite">Invite me!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                      <br />
                      <br />
                        <div class="col-md-8 col-md-offset-2">
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-up animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Chips</h2>
                    <p>Chips is a Discord bot created by William Zhou, in a team of three developers</p>
                    <p>Heavily under development, the bot has 100+ public commands/aliases.</p>
                    <p>The bot features games including Chess with variable AI, and clean and useful informative, moderation, utility, and music streaming commands.</p>
                    <p><%= membercount||'over 100 thousand' %> members and <%= servercount||'500+' %> servers connected to Chips at this moment!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#invite" class="btn btn-circle page-scroll">
                        <i class="fa fa-caret-down animated"></i>
                    </a>
                </div>
            </div>
        </section>

        <!-- Invite Section -->
        <section id="invite" class="content-section text-center">
            <div class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Invite Chips</h2>
                        <p>You can invite chips to your server and play around with it yourself!</p>
                        <a href="https://discordapp.com/oauth2/authorize?client_id=296855425255473154&scope=bot&permissions=2146958591" class="btn btn-default btn-lg">Invite Chips!</a>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Our Devs!</h2>
                    <p>Feel free to join our support Discord to give report problems or suggestions!<br />
                    If you're feeling extra special and want to help keep Chips up and running please let us know!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://paypal.me/wzhouwzhou" class="btn btn-default btn-lg"><i class="fa fa-cc-paypal fa-fw"></i> <span class="network-name">Help us keep our bot up!</span></span></a>
                        </li>
                        <li>
                            <a href="https://www.patreon.com/chips" class="btn btn-default btn-lg"><i class="fa fa-list fa-fw"></i> <span class="network-name">Support us monthly!</span></a>
                        </li>
                        <li>
                            <a href="https://discord.gg/jj5FzF7" class="btn btn-default btn-lg"><i class="fa fa-ticket fa-fw"></i> <span class="network-name">Support Server Invite Link</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; William Zhou/Chipsbot 2017</p><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="btn btn-default btn-lg"><span class="network-name">License <i class="fa fa-copyright fa-fw"></i> (CC-BY-NC-ND-4.0)</span></a>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--<script src="vendor/jquery/jquery.js"></script>-->

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="chipsindex/js/grayscale.min.js"></script>

        <script>
          (function(){

            var parallax = document.querySelectorAll(".intro"),
                parallax2 = document.querySelectorAll(".download-section"),
                speed = 0.5,
                speed2 =0.3;
            var oldScroll = window.onscroll||function(){};

            if($(window).width() > 720)
              window.onscroll = function(){
                oldScroll();
                [].slice.call(parallax).forEach(function(el,i){

                  var windowYOffset = window.pageYOffset,
                      elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

                  el.style.backgroundPosition = elBackgrounPos;

                });
                var windowYOffset = window.pageYOffset,
                    elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

                el.style.backgroundPosition = elBackgrounPos;
                /*[].slice.call(parallax2).forEach(function(el,i){

                  var windowYOffset2 = window.pageYOffset,
                      elBackgrounPos = "300% -" + (windowYOffset2 * speed2) + "px";

                  el.style.backgroundPosition = elBackgrounPos;
                });*/
              };
          })();
        </script>
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "image": [
            "https://images-ext-2.discordapp.net/external/rbjxSCMpe-j3nFxUy9SCXQlm4gz4RZYkhsuV5VK1QW4/https/cdn.discordapp.com/attachments/307625096078426123/314201502669471744/Chips.jpg",
            "https://cdn.discordapp.com/attachments/325566257493573632/369397795137781761/chips_v2.png"
           ],
          "@id": "http://www.chipsbot.me",
          "name": "Chips Discord Bot",
          "url": "http://www.chipsbot.me/"
        }
        </script>
        <video controls="" autoplay="true" name="media" hidden="true" loop="true"><source src="https://chipsbot.me/music.mp3" type="audio/mpeg"></video>
    </body>

  </html>
