<% extend('base.html') %>

<%# Willy plz the HTML5 shiv is already on base.html %>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Sinbad Knights</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#highlights">Highlights</a>
                </li>
                <!--
                <li>
                    <a class="page-scroll" href="#gallery">Youtubers</a>
                </li>
                -->
                <li>
                    <a class="page-scroll" href="#contributors">Devs</a>
                </li>
                <li>
                    <a class="page-scroll" href="sinbadknights/useroverview">Login/Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<header>
  <script>
    $(function(){
      var includes = $('[data-include]');
      jQuery.each(includes, function(){
        var file = 'snips/' + $(this).data('include') + '.html';
        $(this).load(file);
      });
    });
  </script>

  <div class="header-content">
      <div class="header-content-inner">
          <h1 id="homeHeading"><span>Welcome to Sinbad Knights<span></h1>
          <br>
          <a href="https://discord.gg/6FX67wz" class="btn btn-primary btn-xl page-scroll" aria-hidden="true">Join our Discord</a>
          <hr>
          <a href="#about" class="btn btn-primary btn-xl page-scroll" aria-hidden="true">Find Out More</a>
      </div>
  </div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Sinbadx Knights"/>
  <meta property="og:description" content="An amazing diep.io clan and fanbase"/>
  <meta property="og:type" content="website"/>
  <link rel="icon" type="image/png"
    href="https://cdn.discordapp.com/icons/257889450850254848/767821f80e172738b5f76aa79d99f1fe.webp"/>
  <title>Sinbad Knights</title>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" aria-hidden="true">Join us!</h2>
                <hr class="light">
                <p class="text-faded">
                  We are Sinbadx's fan community, a diep.io clan on Discord.
                  Join us to meet Sinbad, enhance your skills, play with experienced players,
                  take part in huge events,
                  complete challenges and unravel the gamer in you!
                  Be sure to use our symbol in game -> ⚔
                </p>
                <a href="#highlights" class="page-scroll btn btn-default btn-xl sr-button">Our Highlights</a>
            </div>
        </div>
    </div>
</section>

<section id="highlights">
  <!--<div data-include="header"></div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Exciting highlights!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer text-primary sr-icons" aria-hidden="true"></i>
                    <h3>Established Points System!</h3>
                    <p class="text-muted">Gain points by submitting scores or talking in our discord chat to gain cool perks in our server!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar-check-o text-primary sr-icons" aria-hidden="true"></i>
                    <h3>Events!</h3>
                    <p class="text-muted">We host events such as takeovers, which are fun and exciting to participate in, and may be uploaded to Sinbad's YT!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons" aria-hidden="true"></i>
                    <h3>Daily challenges!</h3>
                    <p class="text-muted">To keep things fresh, we have different challenges uploaded every day for you to complete and earn points!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons" aria-hidden="true"></i>
                    <h3>Supportive Community!</h3>
                    <p class="text-muted">Ask for tips from experienced players! We have over 18 members holding various world records!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<section class="no-padding" id="highlights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Highlights!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter gallery">
            <div class="col-sm-6">
                <a href="https://www.youtube.com/channel/UC52HjlR3p3XkjO6yPva8X5Q" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Noah
                            </div>
                            <div class="project-name">
                                Noah's quick bio: https://www.youtube.com/channel/UC52HjlR3p3XkjO6yPva8X5Q
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="img/portfolio/fullsize/yt.png" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Youtuber/game(hubknights?)
                            </div>
                            <div class="project-name">
                                YT/Game description(hubknights?)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="img/portfolio/fullsize/yt.png" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Youtuber/game(hubknights?)
                            </div>
                            <div class="project-name">
                                YT/Game description(hubknights?)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="img/portfolio/fullsize/yt.png" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Youtuber/game(hubknights?)
                            </div>
                            <div class="project-name">
                                YT/Game description(hubknights?)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="img/portfolio/fullsize/yt.png" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Youtuber/game(hubknights?)
                            </div>
                            <div class="project-name">
                                YT/Game description(hubknights?)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="img/portfolio/fullsize/yt.png" class="portfolio-box">
                    <img src="img/portfolio/fullsize/yt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Youtuber/game(hubknights?) text-faded">
                                Youtuber/game(hubknights?)
                            </div>
                            <div class="project-name">
                                YT/Game description(hubknights?)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
-->
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Join our Discord chat today!</h2>
            <a href="https://discord.gg/6FX67wz" class="btn btn-default btn-xl sr-button">Click here!</a>
        </div>
    </div>
</aside>

<section class="bg-primary" id="contributors">
    <div class="container contributors">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <hr class="primary">
                <h2 class="section-heading">Website and Bot Contributors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <p>PgSuper/PgBiel</p>
            </div>
            <div class="col-md-4 text-center">
                <p>WillyZ</p>
            </div>
            <div class="col-md-4 text-center">
                <p>Xzlq/Xanthi</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <p>Got'em</p>
            </div>
            <div class="col-md-4 text-center">
                <p>Rjt</p>
            </div>
            <div class="col-md-4 text-center">
                <p>EvilDeathPro</p>
            </div>
        </div>
    </div>
</section>
<script src="/js/creative.min.js"></script>
