<% extend('base.html') %>

Userview: Right now, it's <%=timestamp%>
<br></br>
<% if (!isAuthenticated) { %>
    <a id="signIn" href="/login">You aren't signed in, Click here!</a>
<% } else { %>
    <b id="Welcome back, user #"><%=user.id%></b>
    <br></br>
    <a href="/logout">Click me to Log Out</a>
    <br></br>
    <p>Willy's feed:</p>
    <div id="feed"></div>
    <script>
        GitHubActivity.feed({
          	username: "wzhouwzhou",
          	selector: "#feed"
            });
    </script>
<% } %>
