<% extend('base.html') %>

<br></br>
<% if (!isAuthenticated) { %>
    Userview: Right now, it's <%=timestamp%>
    <br></br>
    <a id="signIn" href="/login">You aren't signed in, Click here!</a>
<% } else { %>
    <body>
        <div id="wrapper">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
              <!-- navbar-header -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html">
                      <img src= <%=avatarURL%> alt="" />
                  </a>
              </div>
              <!-- end navbar-header -->
              <!-- navbar-top-links -->
              <ul class="nav navbar-top-links navbar-right">
                  <!-- main dropdown -->
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="top-label label label-danger">3</span><i class="fa fa-envelope fa-3x"></i>
                      </a>
                      <!-- dropdown-messages -->
                      <ul class="dropdown-menu dropdown-messages">
                          <li>
                              <a href="#">
                                  <div>
                                      <strong><span class=" label label-danger">Andrew Smith</span></strong>
                                      <span class="pull-right text-muted">
                                          <em>Yesterday</em>
                                      </span>
                                  </div>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <strong><span class=" label label-info">Jonney Depp</span></strong>
                                      <span class="pull-right text-muted">
                                          <em>Yesterday</em>
                                      </span>
                                  </div>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <strong><span class=" label label-success">Jonney Depp</span></strong>
                                      <span class="pull-right text-muted">
                                          <em>Yesterday</em>
                                      </span>
                                  </div>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a class="text-center" href="#">
                                  <strong>Read All Messages</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                      <!-- end dropdown-messages -->
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="top-label label label-success">4</span>  <i class="fa fa-tasks fa-3x"></i>
                      </a>
                      <!-- dropdown tasks -->
                      <ul class="dropdown-menu dropdown-tasks">
                          <li>
                              <a href="#">
                                  <div>
                                      <p>
                                          <strong>Task 1</strong>
                                          <span class="pull-right text-muted">40% Complete</span>
                                      </p>
                                      <div class="progress progress-striped active">
                                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                              <span class="sr-only">40% Complete (success)</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <p>
                                          <strong>Task 2</strong>
                                          <span class="pull-right text-muted">20% Complete</span>
                                      </p>
                                      <div class="progress progress-striped active">
                                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                              <span class="sr-only">20% Complete</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <p>
                                          <strong>Task 3</strong>
                                          <span class="pull-right text-muted">60% Complete</span>
                                      </p>
                                      <div class="progress progress-striped active">
                                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                              <span class="sr-only">60% Complete (warning)</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <p>
                                          <strong>Task 4</strong>
                                          <span class="pull-right text-muted">80% Complete</span>
                                      </p>
                                      <div class="progress progress-striped active">
                                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                              <span class="sr-only">80% Complete (danger)</span>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a class="text-center" href="#">
                                  <strong>See All Tasks</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                      <!-- end dropdown-tasks -->
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="top-label label label-warning">5</span>  <i class="fa fa-bell fa-3x"></i>
                      </a>
                      <!-- dropdown alerts-->
                      <ul class="dropdown-menu dropdown-alerts">
                          <li>
                              <a href="#">
                                  <div>
                                      <i class="fa fa-comment fa-fw"></i>New Comment
                                      <span class="pull-right text-muted small">4 minutes ago</span>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                      <span class="pull-right text-muted small">12 minutes ago</span>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <i class="fa fa-envelope fa-fw"></i>Message Sent
                                      <span class="pull-right text-muted small">4 minutes ago</span>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <i class="fa fa-tasks fa-fw"></i>New Task
                                      <span class="pull-right text-muted small">4 minutes ago</span>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a href="#">
                                  <div>
                                      <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                      <span class="pull-right text-muted small">4 minutes ago</span>
                                  </div>
                              </a>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <a class="text-center" href="#">
                                  <strong>See All Alerts</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                      <!-- end dropdown-alerts -->
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-user fa-3x"></i>
                      </a>
                      <!-- dropdown user-->
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                          </li>
                          <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                          </li>
                          <li class="divider"></li>
                          <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                          </li>
                      </ul>
                      <!-- end dropdown-user -->
                  </li>
                  <!-- end main dropdown -->
              </ul>
              <!-- end navbar-top-links -->
          </nav>
          <!-- end navbar top -->
          <b>Welcome back, user #<%=user.id%></b>
          <br></br>
          Userview: Right now, it's <%=timestamp%>
          <br></br>
          <a href="/logout">Click me to Log Out</a>
          <br></br>
        </div>
        <!-- end wrapper -->
    </body>


    <br></br>
    <p>Willy's feed:</p>
    <div id="feed"></div>
    <script>
        GitHubActivity.feed({
          	username: "wzhouwzhou",
          	selector: "#feed"
            });
    </script>
<% } %>
